@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logoff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">
    <li><a href="#" style="font-weight: bold;">Jesteś zalogowany jako administrator!</a></li>
    <li><a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a></li>
</ul>
    }
}
