<nav class="nav-sidebar" style="margin-top: 60px;">
    <ul class="nav">
        <li>Menu</li>
        <li class="nav-divider"></li>
        <li>@Html.ActionLink("Zamówienia", "Index", "Orders")</li>
        <li>@Html.ActionLink("Użytkownicy", "Index", "Users")</li>
        <li>@Html.ActionLink("Produkty", "Index", "Products")</li>
        <li>@Html.ActionLink("Kategorie", "Index", "Categories")</li>
        
        
    </ul>
</nav>