
@{
    ViewBag.Title = "Search";
}

<div class="row">
    <div class="col-xs-12" style="margin-bottom: 15px">
        @using (Html.BeginForm("Search", "Products", FormMethod.Get))
        {
            <input type="text" name="search" value="" id="search" class="form-control" placeholder="Wyszukaj..." />
        }
    </div>
</div>

