@{
    ViewBag.Title = "O nas";
}
<div id="about-us">
    @Html.Partial("_PageHeader", "O nas")
    <div class="row">
        <div class="col-xs-12">
            <p>O nas</p>
        </div>
    </div>
</div>
