@{
    ViewBag.Title = "About";
}
<div id="about-us">
    @Html.Partial("_PageHeader", "O nas")
    <div class="row">
        <div class="col-xs-12">
            <p>Vistula Group S.A. kontynuuje tradycję krakowskich zakład&oacute;w odzieżowych z&nbsp;okresu dwudziestolecia międzywojennego, Państwowego Zakładu Umundurowań i&nbsp;prywatnej firmy Strassberg. Można uznać, iż jako samodzielny podmiot Sp&oacute;łka rozpoczęła działalność w&nbsp;1948 roku, kiedy to utworzone zostały Krakowskie Zakłady Przemysłu Odzieżowego. Wraz z&nbsp;rozwojem i&nbsp;specjalizacją działalności w&nbsp;1961 roku rozpoczęto produkcję przeznaczoną na sprzedaż eksportową, a&nbsp;w&nbsp;1966 roku została podjęta decyzja o&nbsp;zaniechaniu produkcji odzieży damskiej na rzecz ubrań męskich.</p>
            <p>&nbsp;</p>
            <p><strong>Istotne wydarzenia w&nbsp;historii Vistula Group S.A.<br /><br /></strong></p>
            <p>&nbsp;</p>
            <ul>
                <li>
                    <div>W roku 1948 aktem erekcyjnym Ministra Przemysłu i&nbsp;Handlu &bdquo;Zjednoczone Fabryki Konfekcyjne&rdquo; grupujące działające na terenie Krakowa cztery zakłady odzieżowe, otrzymały nazwę &bdquo;Krakowskie Zakłady Przemysłu Odzieżowego&rdquo; (dalej KZPO) i&nbsp;stały się samodzielną jednostką gospodarczą, podległą Centralnemu Zarządowi Przemysłu Odzieżowego.<br /><br /></div>
                </li>
                <li>
                    <div>W roku 1949 KZPO przejęły wytw&oacute;rnię odzieży &bdquo;Polonia&rdquo; w&nbsp;Krakowie. Po przejęciu jednego z&nbsp;budynk&oacute;w Monopolu Tytoniowego przy ul. Nadwiślańskiej 11 w&nbsp;Krakowie, przedsiębiorstwo przeniosło się w&nbsp;całości do dzielnicy Podg&oacute;rze.<br /><br /></div>
                </li>
                <li>
                    <div>W roku 1956 KZPO otrzymały kolejny obiekt przy ul. Nadwiślańskiej 13, Od 1956 roku całość produkcji KZPO mieści się już w&nbsp;budynkach przy ul. Nadwiślańskiej w&nbsp;Krakowie.<br /><br /></div>
                </li>
                <li>
                    <div>W roku 1961 KZPO rozpoczęły produkcję na eksport.<br /><br /></div>
                </li>
                <li>
                    <div>Od roku 1966 profil produkcji KZPO obejmuje już wyłącznie klasyczną odzież męską.<br /><br /></div>
                </li>
                <li>
                    <div>W roku 1967 KZPO przejęły dodatkowy budynek przy ul. Nadwiślańskiej 7. Na podstawie Zarządzenia nr 34/0/67 z&nbsp;dnia 20.09.1967 roku wydanego przez Ministra Przemysłu Lekkiego KZPO zmieniły nazwę na: Zakłady Przemysłu Odzieżowego &bdquo;Vistula&rdquo;.<br /><br /></div>
                </li>
                <li>
                    <div>W latach 70-tych XX wieku następuje modernizacja zakładu w&nbsp;Krakowie oraz uruchomienie zakład&oacute;w filialnych w&nbsp;Myślenicach, Staszowie, Przeworsku i&nbsp;Łańcucie.<br /><br /></div>
                </li>
                <li>
                    <div>30 kwietnia 1991 roku ma miejsce przekształcenie Zakład&oacute;w Przemysłu Odzieżowego &bdquo;Vistula&rdquo; w&nbsp;Jednoosobową Sp&oacute;łkę Skarbu Państwa, powstaje sp&oacute;łka Zakłady Przemysłu Odzieżowego &bdquo;VISTULA&rdquo; S.A.<br /><br /></div>
                </li>
                <li>
                    <div>30 września 1993 roku Zakłady Przemysłu Odzieżowego &bdquo;VISTULA&rdquo; S.A. jako jedna z&nbsp;pierwszych firm odzieżowych debiutuje na Giełdzie Papier&oacute;w Wartościowych w&nbsp;Warszawie S.A.<br /><br /></div>
                </li>
                <li>
                    <div>W wyniku zakończonego w&nbsp;2004 roku całkowitego wydzielenia zaplecza produkcyjnego do sp&oacute;łek zależnych, podstawową formą działalności operacyjnej Sp&oacute;łki staje się projektowanie odzieży, rozw&oacute;j działalności handlowej, zarządzanie sprzedażą i&nbsp;komunikacja marketingowa.<br /><br /></div>
                </li>
                <li>
                    <div>W dniu 30 stycznia 2001 roku następuje rejestracja nowej firmy Sp&oacute;łki: Vistula Sp&oacute;łka Akcyjna.<br /><br /></div>
                </li>
                <li>
                    <div>31 sierpnia 2006 roku ma miejsce połączenie Vistula S.A. ze sp&oacute;łką W&oacute;lczanka S.A. z&nbsp;siedzibą w&nbsp;Łodzi, czołowym producentem i&nbsp;dystrybutorem koszul męskich w&nbsp;Polsce. Po połączeniu sp&oacute;łka przyjmuje nazwę Vistula &amp; W&oacute;lczanka S.A.<br /><br /></div>
                </li>
                <li>
                    <div>17 stycznia 2007 roku Vistula nabywa 100% udział&oacute;w w&nbsp;sp&oacute;łce Galeria Centrum Sp. z&nbsp;o.o. z&nbsp;siedzibą w&nbsp;Warszawie.<br /><br /></div>
                </li>
                <li>
                    <div>W dniu 30 maja 2008 roku, w&nbsp;wyniku transakcji przeprowadzonej w&nbsp;ramach wezwania ogłoszonego 5&nbsp;maja 2008 roku, Vistula &amp; W&oacute;lczanka S.A. nabywa 66% akcji sp&oacute;łki W.Kruk S.A. z&nbsp;siedzibą w&nbsp;Poznaniu.<br /><br /></div>
                </li>
                <li>
                    <div>31 grudnia 2008 roku następuje sądowa rejestracja połączenia sp&oacute;łek Vistula &amp; W&oacute;lczanka S.A. z&nbsp;W.Kruk S.A. Po połączeniu Vistula &amp; W&oacute;lczanka S.A. zmienia nazwę na Vistula Group S.A.</div>
                </li>
            </ul>
            <ul>
                <li>31 marca 2015 roku została zawarta umowa przeniesienia całej działalności jubilerskiej prowadzonej pod marką W.KRUK do sp&oacute;łki zależnej od Vistula Group S.A. tj. do sp&oacute;łki W.KRUK S.A. z&nbsp;siedzibą w&nbsp;Krakowie. Przeniesienie nastąpiło w&nbsp;formie wniesienia wkładu niepieniężnego w&nbsp;postaci zorganizowanej części przedsiębiorstwa, funkcjonującej dotychczas w&nbsp;ramach przedsiębiorstwa sp&oacute;łki Vistula Group S.A. jako Jednostka Organizacyjna W.KRUK, obejmującej organizacyjnie i&nbsp;finansowo wyodrębniony zesp&oacute;ł składnik&oacute;w materialnych i&nbsp;niematerialnych oraz zobowiązań, przeznaczonej do realizacji określonych zadań gospodarczych w&nbsp;zakresie działalności jubilerskiej.</li>
            </ul>
        </div>
    </div>
</div>
