@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>

<address>
    CarWorkshop<br />
    ul. Kasztanowa 27<br />
    43-100 Tychy<br />
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:carworkshop.tychy@gmail.com">carworkshop.tychy@gmail.com</a><br />
    <strong>Telefon:</strong> 510 123 132</a>
</address>