
@{
    ViewBag.Title = "Regulamin";
}

<div id="tac">
    @Html.Partial("_PageHeader", "Regulamin")
    <div class="row">
        <div class="col-xs-12">
            <p style="text-align: center;"><strong>Regulamin świadczenia usług sklepu carworkshop.azurewebsites.net</strong></p>
            <h2>&nbsp;</h2>
            <h2 style="text-align: center;">Car Workshop Tychy</h2>
            <p>&nbsp;</p>
            <p style="text-align: center;"><strong>&sect;&nbsp;1</strong></p>
            <p>Car Workshop Tychy jest sklepem internetowym, kt&oacute;rego właścicielem jest Dawid Gos prowadzący działalność gospodarczą pod firmą Car Workshop Tychy Dawid Gos z siedzibą w Tychach przy ul. Dzielnej 5, 31 -234, wpisaną do CEIDIG. Regulamin określa zasady zawierana transakcji w sklepie Car Workshop Tychy</p>
            <p>&nbsp;</p>
            <p style="text-align: center;"><strong>(podstawowe dane dotyczące w szczeg&oacute;lności firmy, adresu i rodzaju działalności przedsiębiorcy)</strong></p>
            <p style="text-align: center;"><strong>&sect;&nbsp;2</strong></p>
            <p>Car Workshop Tychy jest sklepem warsztatu samochodowego, za pośrednictwem kt&oacute;rego zarejestrowani użytkownicy mogą nabywać części samochodowe.</p>
            <p>&nbsp;</p>
            <p style="text-align: center;">(<strong>określenie rodzaju i zakresu usług świadczonych drogą elektroniczną</strong></p>
            <p style="text-align: center;"><strong>&sect;&nbsp;3</strong></p>
            <ol>
                <li>Dokonywanie zakup&oacute;w za pośrednictwem Car Workshop Tychy wymaga akceptacji plik&oacute;w cookie przez przeglądarkę użytkownika.</li>
                <li>Serwis działa na prawidłowo skonfigurowanej przeglądarce Internet Explorer, Mozilla Forefox, Google Chrome bądź innej zaktualizowanej i odpowiednio skonfigurowanej przeglądarce.</li>
            </ol>
            <p>&nbsp;</p>
            <p style="text-align: center;"><strong>(wymagania techniczne niezbędne do wsp&oacute;łpracy z systemem teleinformatycznym, kt&oacute;rym posługuje się usługodawca)</strong></p>
            <p style="text-align: center;"><strong>&sect;&nbsp;4</strong></p>
            <p>&nbsp;</p>
            <ol>
                <li>Aby złożyć zam&oacute;wienie, należy zarejestrować się na stronie sklepu (carworkshop.azurewebsites.net /Account/Register) i wypełnić wskazany na tej stronie formularz.</li>
                <li>Zam&oacute;wienie dokonywane jest przez wyb&oacute;r właściwej pozycji książkowej, wyb&oacute;r liczby egzemplarzy i kliknięcie znaku &bdquo;kupuję&rdquo;. Po potwierdzeniu wyboru, Użytkownik przenoszony jest na stronę wyboru sposobu płatności i sposobu odbioru zam&oacute;wienia.</li>
                <li>Odbi&oacute;r zam&oacute;wienia może być dokonany osobiście w siedzibie Car Workshop Tychy bez dodatkowej opłaty.</li>
                <li>Zam&oacute;wienie może być także dostarczone na adres wskazany przez Zamawiającego za odpowiednią opłatą wskazaną w cenniku dostawy. Wyb&oacute;r formy odbioru następuje po skompletowaniu zam&oacute;wienia.</li>
                <li>Po złożeniu zam&oacute;wienia Zamawiający otrzyma mail bądź wiadomość sms (zgodnie z zaznaczoną podczas składania zam&oacute;wienia opcją) potwierdzający przyjęcie zam&oacute;wienia.</li>
            </ol>
            <p>&nbsp;</p>
            <p style="text-align: center;"><strong>(warunki zawierania um&oacute;w o świadczenie usług drogą elektroniczną</strong></p>
            <p style="text-align: center;"><strong>&sect;&nbsp;5</strong></p>
            <ol>
                <li>Zamawiający - konsument, kt&oacute;ry zawarł umowę na odległość, może od niej odstąpić bez podania przyczyn, składając stosowne oświadczenie na piśmie w terminie dziesięciu dni od dnia dostarczenia przesyłki. Do zachowania tego terminu wystarczy wysłanie oświadczenia przed jego upływem.</li>
                <li>W przypadku skorzystania z uprawnienia wzmiankowanego w punkcie 1 niniejszego paragrafu, Zamawiający &ndash; konsument zobowiązany jest odesłać dostarczone zam&oacute;wienie w stanie niezmienionym, chyba że zmiana była konieczna w ramach zwykłego zarządu rzeczą sprzedaną, a Car Workshop Tychy zwraca na rachunek bankowy Zamawiającego &ndash; konsumenta należność za zwr&oacute;cone zam&oacute;wienie.</li>
            </ol>
            <p>&nbsp;</p>
            <p style="text-align: center;">(<strong>warunki rozwiązywania um&oacute;w o świadczenie usług drogą elektroniczną; art. 7 ustawy o ochronie niekt&oacute;rych praw konsument&oacute;w oraz odpowiedzialności wyrządzonej przez produkt niebezpieczny)</strong></p>
            <p style="text-align: center;"><strong>&sect; 6</strong></p>
            <ol>
                <li>W przypadku, gdy okaże się, że dostarczony towar jest niezgodny z zam&oacute;wieniem, Zamawiającemu przysługuje prawo do wymiany towaru na zam&oacute;wiony bądź nowy.</li>
                <li>Odesłanie zam&oacute;wionego towaru następuje na rachunek Car Workshop Tychy, kt&oacute;ry pokrywa związane z tym koszty.</li>
                <li>Reklamacje rozpatrywane są w terminie 14 dni. W przypadku uwzględnienia reklamacji, Zamawiającemu wysyłany jest nowy egzemplarz w miejsce niezgodnego z zam&oacute;wieniem. W przypadku, gdy reklamacja nie zostanie uwzględniona, Car Workshop Tychy zareklamowany towar odsyła na własny koszt.</li>
                <li>W sytuacji braku zam&oacute;wionego a niewadliwego towaru, Car Workshop Tychy informuje o tym Zamawiającego mailem bądź telefonicznie. Wedle wyboru Zamawiającego &ndash; uiszczona należność jest zwracana na jego rachunek bankowy, albo wysyłany jest inny towar w tej samej cenie, wybrany przez Zamawiającego. Koszty przesyłek ponosi Car Workshop Tychy.</li>
            </ol>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
    </div>
</div>

